# Homework 2 (100 points)
## Due: Tuesday, Sept 14 @ 6:30 PM 

**The very first thing you should do is save your own copy of this Homework by clicking on File -> "Save a copy in Drive"**

This homework is divided into 4 sections which all perform different tasks on the initial data provided.  Read the data description below carefully to understand the data, then work on each section.

When you complete this assignment, **please submit 1 file and 1 link via Canvas before the deadline.**


1.   Your Jupyter Notebook code as a .py file (File -> "Download .py")
2.   As a comment on your .py submission please include a link to your Google CoLab Jupyter notebook. Click the "Share" button in the top right.  Ensure that anyone with the link has at least "Commenter" access. **Once you submit your HW on Canvas, please do not make any more edits to the Jupyter notebook until after your HW is graded**

Please use the naming convention:  

**firstname_lastname_homework2.py**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Data Description

This dataset consists of tv shows and movies available on Netflix as of 2019. The dataset is collected from Flixable which is a third-party Netflix search engine.

See Kaggle page for more info: https://www.kaggle.com/shivamb/netflix-shows

The data is available in the Canvas Module for **pandas** under the name `netflix_titles.csv`

Load this data into `pandas` and use `index_col='show_id'`

In [ ]:
# Write code to load data below
import pandas as pd
import numpy as np

netflix_titles = pd.read_csv('/content/drive/MyDrive/2021_Fall_USF_PMS_Biotechnology/MSDS_596/data/netflix_titles.csv', index_col='show_id')

## Section 1: Dataset Overview
**2.5 points each (total 10 points)**

Let's get an initial understanding of the data we are working with. Provide answers and code below.

1.  How many rows and columns are in this dataset?
2.  Provide a list of the column names
3.  Print the **first 10 rows** of this dataset
4.  Use `.info()` to understand where there may be null values in the data

In [ ]:
# Write code below
# How many rows and columns are in this dataset?
netflix_titles.shape # (rows, columns) -> (6234, 11)

# Provide a list of the column names
netflix_columns_list = list(netflix_titles.columns)
netflix_columns_list
# ['type', 'title', 'director', 'cast', 'country', 'date_added', 'release_year',
# 'rating', 'duration', 'listed_in', 'description']

# Print the first 10 rows of this dataset
netflix_titles.head(10)

# Use .info() to understand where there may be null values in the data
netflix_titles.info()
# null values in columns director, cast, country and rating

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6234 entries, 81145628 to 70153404
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          6234 non-null   object
 1   title         6234 non-null   object
 2   director      4265 non-null   object
 3   cast          5664 non-null   object
 4   country       5758 non-null   object
 5   date_added    6223 non-null   object
 6   release_year  6234 non-null   int64
 7   rating        6224 non-null   object
 8   duration      6234 non-null   object
 9   listed_in     6234 non-null   object
 10  description   6234 non-null   object
dtypes: int64(1), object(10)
memory usage: 584.4+ KB

## Section 2:  Data Cleaning
**5 points each (total 10 points)**

Let's take some steps to improve the data set for analysis purposes.


1.   There are NA/NaN values in `director`, `cast`, and `country`.  Let's replace these with the value `"Unknown"` using `fillna`
2.   Create a new column `is_produced_in_usa` which is True if `country` contains the word `United States` and False otherwise.  (Hint: Sometimes `country` contains multiple countries separated by commas.  We want to be able to catch `United States` even if it's in this list with other countries also.

***Challenge (not required for points)*** 
Make a new column called `duration_bucket`.  This column will bucket the values found in `duration`, similar to how we grouped values in HW1.  Examples of buckets might be `61-90 minutes`, `91-120 minutes`, `120+ minutes`, or `3+ seasons`.  To do this, I recommend creating a function that converts the value in `duration` to the `bucket_name`, then using the `pandas` `.apply()` function to the `duration` column to create a transformed column, which you can then insert into the dataframe.

Reference: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.apply.html

In [ ]:
# 1
netflix_titles.director.fillna("Unknown", inplace=True)
netflix_titles.cast.fillna("Unknown", inplace=True)
netflix_titles.country.fillna("Unknown", inplace=True)
netflix_titles.rating.fillna("Unknown", inplace=True)
netflix_titles.date_added.fillna("Unknown", inplace=True)

netflix_titles.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6234 entries, 81145628 to 70153404
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          6234 non-null   object
 1   title         6234 non-null   object
 2   director      6234 non-null   object
 3   cast          6234 non-null   object
 4   country       6234 non-null   object
 5   date_added    6234 non-null   object
 6   release_year  6234 non-null   int64
 7   rating        6234 non-null   object
 8   duration      6234 non-null   object
 9   listed_in     6234 non-null   object
 10  description   6234 non-null   object
dtypes: int64(1), object(10)
memory usage: 584.4+ KB

In [ ]:
# 2
netflix_titles['is_produced_in_usa'] = netflix_titles.country.str.contains('United States')
netflix_titles.head()

             type  ... is_produced_in_usa
show_id            ...
81145628    Movie  ...               True
80117401    Movie  ...              False
70234439  TV Show  ...               True
80058654  TV Show  ...               True
80125979    Movie  ...               True

[5 rows x 12 columns]

## Section 3: Data Questions
**10 points each (50 points total)**

Explore the data set to answer the questions below.  In addition to providing the answer, please provide the code you used to answer each question.

1.   What % of Netflix content is produced in the USA?  You can calculate the numerator and denominator separately.  (Hint: Use the new column you created in Section 1)
2.   List all the **movies** directed by **M. Night Shyamalan** that are available on Netflix.
3.   Which **TV Shows produced in Japan** that were released in **2006** are available on Netflix?
4.   How many **movies** and how many **TV shows** (reported separately) did Netflix add in the **month of July 2019**?
5.   List the Netflix content (movies/TV shows) about the FBI (`description` contains "FBI") chronologically by release year (most recent first)

***Challenge (not required for points)*** 

What % of content on Netflix is added in the same year as it is released? Does this differ by movie vs TV show?

In [ ]:
# Write code below
# 1. What % of Netflix content is produced in the USA? 
# You can calculate the numerator and denominator separately. 
made_in_usa = sum(netflix_titles['is_produced_in_usa'])
total_movies = len(netflix_titles['is_produced_in_usa'])

(made_in_usa / total_movies) * 100

# 41.86717998075073

41.86717998075073

In [ ]:
# 2. List all the movies directed by M. Night Shyamalan that are available on Netflix.
directed_by_Shyamalan = netflix_titles.director == "M. Night Shyamalan"
netflix_titles[directed_by_Shyamalan]

           type  ... is_produced_in_usa
show_id          ...
70044688  Movie  ...               True

[1 rows x 12 columns]

In [ ]:
# 3. Which TV Shows produced in Japan that were released in 2006 are available on Netflix?
made_in_Japan = netflix_titles['country'] == "Japan"
released_in_2006 = netflix_titles['release_year'] == 2006

netflix_titles[made_in_Japan & released_in_2006]
# there is some sort of problem where initialy this doesn't select 
# the right year and doesn't display anything, weirdly I can fix it by 
# replacing  == "2006" to = and run again getting error,
# then placing == again and running it. Really weird, not sure what's going on..

             type  ... is_produced_in_usa
show_id            ...
70108386    Movie  ...              False
70204970  TV Show  ...              False
70205014  TV Show  ...              False
70204957  TV Show  ...              False

[4 rows x 12 columns]

In [ ]:
# 4. How many movies and how many TV shows (reported separately)
# did Netflix add in the month of July 2019?
movies = netflix_titles['type'] == "Movie"
tv_show = netflix_titles['type'] == "TV Show"

#netflix_titles = netflix_titles.date_added.str.split(columns = ['month_added','day_added', 'year_added']))
added_in_july = netflix_titles.date_added.str.contains("July")
added_in_2019 = netflix_titles.date_added.str.contains("2019")
# if I need to add column with the values 
# netflix_titles["added_in_july"] = added_in_july
# netflix_titles["added_in_2019"] = added_in_2019

movies_added_in_July_2019 = netflix_titles[movies & 
                                           added_in_july & 
                                           added_in_2019]
movies_added_in_July_2019

           type  ... is_produced_in_usa
show_id          ...
81098589  Movie  ...               True
80221446  Movie  ...               True
70189282  Movie  ...              False
81039323  Movie  ...              False
80223153  Movie  ...              False
...         ...  ...                ...
70084795  Movie  ...               True
60027701  Movie  ...               True
70021654  Movie  ...               True
81077862  Movie  ...               True
70001777  Movie  ...               True

[108 rows x 12 columns]

In [ ]:
# 4 Tv-shows in July 2019
tv_show_added_in_July_2019 = netflix_titles[tv_show & 
                                           added_in_july & 
                                           added_in_2019]
tv_show_added_in_July_2019

             type  ... is_produced_in_usa
show_id            ...
81088333  TV Show  ...              False
81078217  TV Show  ...               True
81108281  TV Show  ...              False
80236408  TV Show  ...              False
81151899  TV Show  ...              False
...           ...  ...                ...
80141270  TV Show  ...              False
80224279  TV Show  ...              False
81064394  TV Show  ...               True
80142000  TV Show  ...              False
81100135  TV Show  ...              False

[78 rows x 12 columns]

In [ ]:
# 5 List the Netflix content (movies/TV shows) about the FBI 
# (description contains "FBI") chronologically by release year 
#(most recent first)

fbi_content = netflix_titles.description.str.contains("FBI")
netflix_titles[fbi_content].sort_values(by='release_year', ascending=True)

             type  ... is_produced_in_usa
show_id            ...
70153408  TV Show  ...               True
1151721     Movie  ...               True
60024942    Movie  ...               True
70044705    Movie  ...               True
70066433    Movie  ...               True
70061480    Movie  ...               True
70098332    Movie  ...               True
70105371    Movie  ...               True
80039644    Movie  ...               True
70177067  TV Show  ...               True
80024132  TV Show  ...               True
80049281    Movie  ...               True
80065182  TV Show  ...               True
80038358    Movie  ...              False
80201750  TV Show  ...               True
80173176    Movie  ...              False
80176878  TV Show  ...               True
70153390  TV Show  ...               True
80063740  TV Show  ...               True
80077417  TV Show  ...               True
81053953    Movie  ...               True
70281312  TV Show  ...               True
80114855  TV Show  ...               True

[23 rows x 12 columns]

In [ ]:
netflix_titles.release_year.unique()

array([2019, 2016, 2013, 2017, 2014, 2015, 2009, 2012, 2010, 2018, 2011,
       2004, 2000, 1983, 1982, 2006, 2005, 2002, 1997, 2008, 2007, 2003,
       1981, 1991, 1994, 1988, 1976, 1973, 1974, 1989, 1986, 1984, 1978,
       1998, 1972, 1979, 1960, 1959, 2001, 1995, 1992, 1990, 1975, 1985,
       1980, 1970, 1996, 1967, 1999, 1987, 1968, 1993, 2020, 1958, 1965,
       1956, 1962, 1955, 1977, 1945, 1946, 1942, 1944, 1947, 1943, 1969,
       1954, 1966, 1971, 1964, 1925, 1963])

## Section 4: Exploration
**10 points each (30 points total)**

Now choose **3** of your own questions/hypotheses that you would like to explore in this data set.  

Write down your questions/hypotheses as well as your findings and code.  Questions should be of reasonable complexity (either involving data transformations like creating new columns, multiple conditions, or aggregations like `value_counts`).

In [ ]:
# Write code below
# 1. What is the longest running tv show on Netflix and how many seasons it has?
netflix_titles[tv_show].duration.unique()
# from the array list i can see that 15 seasons in the longest show
# search tv shows where duration is 15 seasons
fifteen_seasons = netflix_titles.duration.str.contains('15 Seasons')
netflix_titles[tv_show & fifteen_seasons]

             type  ... is_produced_in_usa
show_id            ...
70140391  TV Show  ...               True
70142386  TV Show  ...               True

[2 rows x 12 columns]

In [ ]:
# 2. How many shows are there that have 1 season, 2 seasnons, ... 15 seasons?
list_of_seasons_arr = netflix_titles[tv_show].duration.unique()
netflix_titles[tv_show].duration.value_counts()

1 Season      1321
2 Seasons      304
3 Seasons      158
4 Seasons       61
5 Seasons       46
6 Seasons       22
7 Seasons       21
8 Seasons       16
9 Seasons        7
11 Seasons       3
10 Seasons       3
12 Seasons       2
13 Seasons       2
15 Seasons       2
14 Seasons       1
Name: duration, dtype: int64

In [ ]:
# 3. How long is the longeset movie on Netflix and what is it's title?
# Find the longest duration of the movie
list_of_movie_lengths_arr = netflix_titles[movies].duration.unique()
netflix_titles[movies].duration.value_counts().tail(50)
# 312 min

157 min    4
170 min    4
176 min    3
173 min    3
172 min    3
164 min    3
177 min    3
14 min     2
35 min     2
179 min    2
12 min     2
169 min    2
27 min     2
19 min     2
41 min     2
31 min     2
15 min     1
167 min    1
201 min    1
196 min    1
34 min     1
43 min     1
11 min     1
203 min    1
214 min    1
193 min    1
192 min    1
181 min    1
3 min      1
178 min    1
33 min     1
36 min     1
187 min    1
182 min    1
18 min     1
180 min    1
205 min    1
312 min    1
195 min    1
224 min    1
228 min    1
20 min     1
190 min    1
37 min     1
191 min    1
174 min    1
209 min    1
189 min    1
10 min     1
200 min    1
Name: duration, dtype: int64

In [ ]:
# What is the longeset movie on Netflix?
longest_movie = netflix_titles.duration.str.contains('312 min')
netflix_titles[movies & longest_movie]

           type  ... is_produced_in_usa
show_id          ...
80988062  Movie  ...               True

[1 rows x 12 columns]